$base-font-family: Roboto, sans-serif;
$base-font-size: 16px;
$font-size-bigger: 24px;
$base-font-color: #222222;
$font-light: 300;
$font-thin: 100;
$breakpoint-1: 1140px;
$breakpoint-2: 992px;
$breakpoint-3: 767px;
$breakpoint-4: 480px;