.footer {

    .container {
        display: flex;
        justify-content: space-between;
        color: #353535;
        padding-top: 50px;
        padding-bottom: 50px;

        @media (max-width: $breakpoint-4) {
            flex-direction: column;
            text-align: center;
            padding-top: 35px;
            padding-bottom: 35px;
        }

        .socials {
            list-style: none;

            @media (max-width: $breakpoint-4) {
                margin-bottom: 10px;
            }

            .socials-item {
                display: inline-block;
                margin-right: 12px;

                &:last-child {
                    margin-right: 0; 
                }
            }

            .link {
                display: block;

                .icon {
                    font-size: 24px;
                    transition: color 0.3s linear;
                }

                &:hover .icon {
                    color: #4eaeff;
                }
            }
        }
    }

    .copyrights {
        font-size: 20px;
        font-weight: $font-light;
    }
}