.quotation {

    .container {
        padding: 212px 160px;

        @media (max-width: $breakpoint-1) {
            padding-top: 150px;
            padding-bottom: 150px;
        }

        @media (max-width: $breakpoint-2) {
            padding: 150px 100px;
        }

        @media (max-width: $breakpoint-3) {
            padding: 100px 70px;
        }

        @media (max-width: $breakpoint-3) {
            padding: 75px 50px;
        }

        .text {
            font-size: 36px;
            font-weight: $font-thin;
            line-height: 1.2;
            text-align: center;

            @media (max-width: $breakpoint-3) {
                font-size: 30px;
            }
        } 
    }
}