@import 'normalize';

$base-font-family: Roboto, sans-serif;
$base-font-size: 16px;
$base-font-color: #222222;
$font-light: 300;
$font-thin: 100;
$uppercase: uppercase;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 400;
    color: $base-font-color;
    background-color: #efeee9;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $base-font-color;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: $font-thin;
    color: #444444;
    text-transform: $uppercase;
}

button {
    background-color: transparent;
    outline: none;
}

header {
    background: url("../img/header_background.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    
    .nav-bar {
        padding: 70px 0 80px 0;
        background-color: rgba(255, 255, 255, 0.7);
        position: fixed;
        z-index: 100;
        width: 100%;
    }

    ul {
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;

        h1 a {
            font-size: inherit;
            letter-spacing: 10px;
            line-height: 1;
        }

        a {
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 4px;
            line-height: 3;
            display: inline-block;
            padding: 0 10px;
        }

        li {
            margin: 0 15px;
            &:hover a {
                background-color: #efeee9;
                border-radius: 6px;
            }

            &:hover h1 a {
                background-color: transparent;
                border-radius: 0;
            }
        }
    }

    .banner-text {
        width: 550px;
        text-align: right;
        position: absolute;
        bottom: 100px;
        right: 415px;

        p {
            font-size: 24px;
            font-weight: $font-light;
        }
    }
}

.portfolio-project {
    padding: 186px 0;

    article {
        background-color: #ffffff;
        padding: 95px 190px 230px 190px;
        position: relative;

        h2 {
            margin-bottom: 70px;
            text-align: center;
        }

        p {
            font-size: 20px;
            font-weight: $font-light;
            line-height: 1.4;
        }

        button {
            border: 2px solid #222222;
            position: absolute;
            left: calc(50% - 105px);
            bottom: 108px;
            a {
                font-size: 18px;
                font-weight: 700;
                text-transform: $uppercase;
                display: block;
                padding: 17px 32px 17px 32px;
            }
            &:hover {
                background-color: #efeee9;
            }
        }
    } 
}

.portfolio-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a {
        flex: 33.333333%;
        display: block;
    }
    img {
        display: block;
        width: 100%;
    }
}









