@import 'normalize';
@import 'icons';

$base-font-family: Roboto, sans-serif;
$base-font-size: 16px;
$font-size-bigger: 24px;
$base-font-color: #222222;
$font-light: 300;
$font-thin: 100;
$breakpoint-1: 1140px;
$breakpoint-2: 992px;
$breakpoint-3: 767px;
$breakpoint-4: 480px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 400;
    color: $base-font-color;
    background-color: #efeee9;
}

.container {
    width: 1110px;
    margin: 0 auto;
    @media (max-width: $breakpoint-1) {
        width: 960px;
    }
    @media (max-width: $breakpoint-2) {
        width: 736px;
    }
    @media (max-width: $breakpoint-3) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

}

a {
    text-decoration: none;
    color: $base-font-color;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: $font-thin;
    color: #444444;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 14px;
    font-weight: $font-light;
    text-transform: uppercase;
    color: #290a59;
    letter-spacing: 6px;
    line-height: 1.5;
}

button {
    background-color: transparent;
    outline: none;
}

header {
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 1px 8px;

    h1 {
        a {
            font-size: inherit;
            letter-spacing: 10px;
            line-height: 1; 
        }
    }

    ul {
        margin: 0;
        list-style: none;
    }

    a {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 4px;
        line-height: 3;
        display: inline-block;
    }

    .nav-bar {
        padding: 70px 0 80px 0;
        @media (max-width: $breakpoint-2) {
            padding: 50px 0 60px 0; 
        }
        @media (max-width: $breakpoint-3) {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        li {
            margin: 0 15px;
            &:hover a {
                background-color: #efeee9;
                border-radius: 6px;
            }

            &:hover h1 a {
                background-color: transparent;
                border-radius: 0;
            }
        }

        a {
            padding: 0 10px;
        }
    }

    .nav-bar-rwd {
        display: none;
        padding: 70px 0 0 0;

        @media (max-width: $breakpoint-3) {
            display: block;
            padding: 45px 0 50px 0;
        }

        .top-bar {
            display: flex;
            justify-content: space-between;
        }

        .mobile-menu {
            margin-top: 20px;
            flex-direction: column;
            background-color: rgba(239, 238, 233, 0.7);
            border-top: 1px solid #dedddb;
            display: none;
        }

        li {
            text-align: center;
            border-bottom: 1px solid #dedddb;
            &:last-child {
                border-bottom: none;
            }
            a {
                display: block;
                line-height: 5;
                &:hover {
                    color:#4eaeff;
                }
            }
        }
        
        &.open {
            padding-bottom: 0;
            .mobile-menu {
                display: block;
            }
            
        }

        .hamburger {
            cursor: pointer;
            border: none;
            outline: none;

            span {
                display: block;
                height: 3px;
                width: 30px;
                background-color: #222222; 
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 30px;
                    background-color: #222222;
                    position: absolute;
                    top: -7px;
                }
                &:after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 30px;
                    background-color: #222222;
                    position: absolute;
                    top: 7px; 
                }
            }
        }
    }
}

#banner {
    background: url("../img/header_background.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: inherit;
        padding-bottom: 100px;
    }
    p {
        font-size: 24px;
        font-weight: $font-light;
        max-width: 550px;
        text-align: right;

        @media (max-width: $breakpoint-3) {
            font-size: 22px;
            text-align: center;
        }
        @media (max-width: $breakpoint-4) {
            font-size: 20px;
        }
    }
}


#portfolio-project {
    padding: 186px 0;

    @media (max-width: $breakpoint-1) {
        padding: 125px 0;
    }
    @media (max-width: $breakpoint-2) {
        padding: 80px 15px;
    }

    article {
        background-color: #ffffff;
        padding: 95px 190px 110px 190px;
        position: relative;

        @media (max-width: $breakpoint-1) {
            padding: 95px 100px 110px 100px;
        }

        @media (max-width: $breakpoint-2) {
            padding: 70px 80px 70px 80px;
        }
        @media (max-width: $breakpoint-3) {
            width: 100%;
        }
        @media (max-width: $breakpoint-4) {
            width: 100%;
            padding: 50px 30px;
        }

        h2 {
            margin-bottom: 70px;
            text-align: center;
            @media (max-width: $breakpoint-2) {
                margin-bottom: 45px;
                font-size: 37px;
            }
        }

        p {
            font-size: 20px;
            font-weight: $font-light;
            line-height: 1.4;

            @media (max-width: $breakpoint-1) {
                text-align: center;
            }
        }

        .see-more {
            text-align: center;
            margin-top: 63px;
            @media (max-width: $breakpoint-2) {
                margin-top: 45px;
            }
        }

        a {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            border: 2px solid #222222;
            display: inline-block;
            padding: 17px 37px;
            &:hover {
                background-color: #efeee9;
            }
        }


    } 
}

#portfolio-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-2) {
        padding: 0 15px;
    }
    @media (max-width: $breakpoint-3) {
        padding: 0 50px;
    }
    @media (max-width: $breakpoint-4) {
        padding-left: 15px;
        padding-right: 15px;
    }
    a {
        flex: 33.333333%;
        display: block;
        position: relative;

        @media (max-width: $breakpoint-2) {
            flex: 50%; 
        }
        @media (max-width: $breakpoint-3) {
            flex: 100%;
            margin-bottom: 30px;
        }

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover:after {
            opacity: 1;
        }
        &:hover span {
            display: block;
        }
        span {
            font-weight: $font-light;
            font-size: $font-size-bigger;
            text-transform: uppercase;
            color: #fefefe;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            z-index: 2;
        }
    }
    img {
        display: block;
        width: 100%;
    }
}

#quotation {
    blockquote {
        padding: 212px 160px;
        @media (max-width: $breakpoint-1) {
            padding-top: 150px;
            padding-bottom: 150px;
        }
        @media (max-width: $breakpoint-2) {
            padding: 150px 100px;
        }
        @media (max-width: $breakpoint-3) {
            padding: 100px 70px;
        }
        @media (max-width: $breakpoint-3) {
            padding: 75px 50px;
        }

        p {
            font-size: 36px;
            font-weight: $font-thin;
            line-height: 1.2;
            text-align: center;
            @media (max-width: $breakpoint-3) {
                font-size: 30px;
            }
        } 
    }
}

#about {
    display: flex;
    flex-direction: row;
    @media (max-width: $breakpoint-2) {
        flex-direction: column;
    }
    .about-photo{
        flex: 50%;
        background: url("../img/about_photo.jpg") center center no-repeat;
        background-size: cover;
        min-height: 400px;
    }

    .about-info {
        flex: 50%;
        background-color: #ffffff;
        padding: 8%;
        @media (max-width: $breakpoint-2) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 60px 15px;
        }
        .item {
            width: 300px;
            margin-bottom: 44px;
            &:last-child {
                margin-bottom: 0;
            }
            p {
                color: #6d6081;
                font-size: 14px;
                line-height: 1.6;
            } 
        }

    }
}

#articles {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;

        @media (max-width: $breakpoint-2) {
            flex-direction: column;
            padding: 100px 15px;
        }
        @media (max-width: $breakpoint-4) {
            flex-direction: column;
            padding: 80px 15px;
        }
    }

    .article-box {
        width: calc(33.33333% - 19px);
        background-color: #ffffff;
        text-align: center;
        padding: 38px 50px;

        @media (max-width: $breakpoint-2) {
            width: 100%;
            margin-bottom: 20px;
        }

        p {
            font-weight: $font-light;
            margin: 40px 0;
        }

        a {
            color: #4eaeff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#contact {
    background-color: #353535;

    .container {
        color: #ffffff; 
        display: flex;
        justify-content: space-between;
        font-weight: $font-light;
        @media (max-width: $breakpoint-2) {
            padding: 100px 0;
            flex-direction: column;
        }
        @media (max-width: $breakpoint-3) {
            padding: 80px 15px 60px 15px;
        }
    }

    .contact-data {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: $breakpoint-2) {
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
        p {
            font-weight: $font-light;
            line-height: 1.5;
        }
        .data {
            @media (max-width: $breakpoint-2) {
                display: flex;
                justify-content: space-around;
            }
            @media (max-width: $breakpoint-4) {
                flex-direction: column;
            }
            .data-group {
                margin-top: 20px;
                span {
                    display: block;
                    font-weight: 700;
                    line-height: 1.8;
                }

                a {
                    color: #ffffff;
                }
            }

        }
    }

    .contact-map {
        height: 460px;
        width: 48%;
        @media (max-width: $breakpoint-2) {
            width: 80%;
            left: 50%;
            transform: translate(-50%);

        }
        @media (max-width: $breakpoint-3) {
            width: 100%;
        }
    }
}

footer {
    .container {
        display: flex;
        justify-content: space-between;
        color: #353535;
        padding-top: 50px;
        padding-bottom: 50px;
        @media (max-width: $breakpoint-4) {
            flex-direction: column;
            text-align: center;
        }
        ul {
            list-style: none;
            @media (max-width: $breakpoint-4) {
                margin-bottom: 20px;
            }
            a {
                display: block;
                &:hover i {
                    color: #4eaeff;
                }
            }
            li {
                display: inline-block;
                margin-right: 12px;
                &:last-child {
                    margin-right: 0; 
                }
                i {
                    font-size: 24px;
                }

            }
        }
    }

    span {
        font-size: 20px;
        font-weight: $font-light;
    }
}











