@import 'normalize';
@import 'icons';

$base-font-family: Roboto, sans-serif;
$base-font-size: 16px;
$font-size-bigger: 24px;
$base-font-color: #222222;
$font-light: 300;
$font-thin: 100;
$breakpoint-1: 1140px;
$breakpoint-2: 992px;
$breakpoint-3: 767px;
$breakpoint-4: 480px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 400;
    color: $base-font-color;
    background-color: #efeee9;
}

.container {
    width: 1110px;
    margin: 0 auto;
    @media (max-width: $breakpoint-1) {
        width: 960px;
    }
    @media (max-width: $breakpoint-2) {
        width: 738px;
    }
    @media (max-width: $breakpoint-3) {
        width: 450px;
    }
    @media (max-width: $breakpoint-4) {
        width: 100%;
    }
}

a {
    text-decoration: none;
    color: $base-font-color;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: $font-thin;
    color: #444444;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-size: 14px;
    font-weight: $font-light;
    text-transform: uppercase;
    color: #290a59;
    letter-spacing: 6px;
    line-height: 1.5;
}

button {
    background-color: transparent;
    outline: none;
}

header {

    .nav-bar {
        padding: 70px 0 80px 0;
        background-color: rgba(255, 255, 255, 0.7);
        position: fixed;
        z-index: 100;
        width: 100%;
        box-shadow: 0px 1px 8px;
    }

    ul {
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;

        h1 a {
            font-size: inherit;
            letter-spacing: 10px;
            line-height: 1;
        }

        a {
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 4px;
            line-height: 3;
            display: inline-block;
            padding: 0 10px;
        }

        li {
            margin: 0 15px;
            &:hover a {
                background-color: #efeee9;
                border-radius: 6px;
            }

            &:hover h1 a {
                background-color: transparent;
                border-radius: 0;
            }
        }
    }
}

#banner {
    background: url("../img/header_background.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: inherit;
        padding-bottom: 100px;
    }
    p {
        font-size: 24px;
        font-weight: $font-light;
        max-width: 550px;
        text-align: right;
    }
}


#portfolio-project {
    padding: 186px 0;

    article {
        background-color: #ffffff;
        padding: 95px 190px 230px 190px;
        position: relative;

        h2 {
            margin-bottom: 70px;
            text-align: center;
        }

        p {
            font-size: 20px;
            font-weight: $font-light;
            line-height: 1.4;

            @media (max-width: $breakpoint-1) {
                text-align: center;
            }
        }

        button {
            border: 2px solid #222222;
            position: absolute;
            left: calc(50% - 105px);
            bottom: 108px;
            a {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                display: block;
                padding: 17px 32px 17px 32px;
            }
            &:hover {
                background-color: #efeee9;
                a {
                    color: #4eaeff; 
                }
            }
        }
    } 
}

#portfolio-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-3) {
        margin: 0 50px;
    }
    @media (max-width: $breakpoint-4) {
        margin: 0;
    }
    a {
        flex: 33.333333%;
        display: block;
        position: relative;

        @media (max-width: $breakpoint-2) {
            flex: 50%; 
        }
        @media (max-width: $breakpoint-3) {
            flex: 100%;
            margin-bottom: 30px;
        }

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover:after {
            opacity: 1;
        }
        &:hover span {
            display: block;
        }
        span {
            font-weight: $font-light;
            font-size: $font-size-bigger;
            text-transform: uppercase;
            color: #fefefe;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            z-index: 2;
        }
    }
    img {
        display: block;
        width: 100%;
    }
}

#quotation {
    blockquote {
        padding: 212px 160px;
        p {
            font-size: 36px;
            font-weight: $font-thin;
            line-height: 1.2;
            text-align: center;
        } 
    }
}

#about {
    display: flex;
    flex-direction: row;
    .about-photo{
        flex: 50%;
        background: url("../img/about_photo.jpg") center center no-repeat;
        background-size: cover;
    }

    .about-info {
        flex: 50%;
        background-color: #ffffff;
        padding: 8%;
        .item {
            width: 300px;
            margin-bottom: 44px;
            &:last-child {
                margin-bottom: 0;
            }
            p {
                color: #6d6081;
                font-size: 14px;
                line-height: 1.6;
            } 
        }

    }
}

#articles {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;

        @media (max-width: $breakpoint-2) {
            flex-direction: column;
        }
    }

    .article-box {
        width: calc(33.33333% - 19px);
        background-color: #ffffff;
        text-align: center;
        padding: 38px 50px;

        @media (max-width: $breakpoint-2) {
            width: 100%;
            margin-bottom: 20px;
        }

        p {
            font-weight: $font-light;
            margin: 40px 0;
        }

        a {
            color: #4eaeff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#contact {
    background-color: #353535;

    .container {
        color: #ffffff; 
        display: flex;
        justify-content: space-between;
        font-weight: $font-light;
    }

    .contact-data {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-weight: $font-light;
            line-height: 1.5;
        }
        .data-group {
            margin-top: 20px;
            span {
                display: block;
                font-weight: 700;
                line-height: 1.8;
            }

            a {
                color: #ffffff;
            }
        }
    }

    .contact-map {
        height: 460px;
        width: 48%;
    }
}

footer {
    .container {
        display: flex;
        justify-content: space-between;
        color: #353535;
        padding: 50px 0;
        ul {
            width: 185px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            a {
                display: block;
                &:hover i {
                    color: #4eaeff;
                }
            }
        }
    }

    .socials {
        display: flex;
        i {
            font-size: 24px;
        }
    }

    span {
        font-size: 20px;
        font-weight: $font-light;
    }
}











